body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #aad4f7;
}

#galery {
  background-color: #aad4f7;
}

section {
  padding-top: 6rem;
}
.no-decoration {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
